body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

header .profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  margin: 10px 0;
  font-size: 2.5em;
}

p {
  margin: 5px 0;
}

h2 {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

ul li strong {
  font-size: 1.2em;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.linkedin {
  color: #fff; /* LinkedIn link text color set to white */
}

blockquote {
  border-left: 5px solid #000;
  padding-left: 10px;
  margin: 20px 0;
  font-style: italic;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 10px;
}
